/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.top-bar {
  background-color: #1a3c5a;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 12vh;
}

.main-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  position: relative;
}

.left-bar {
  background-color: #6b7280;
  padding: 10px;
  width: 200px;
  position: fixed;
  top: 12vh;
  height: calc(
    100vh - 12vh - 50px
  ); /* Adjust height to fit between TopBar and bottom-bar */
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99;
}

.left-bar a {
  color: #ffffff;
  text-decoration: none;
}

.left-bar a:hover {
  color: #d4af37;
}

.working-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* Important for flex child to take remaining height */
  overflow: auto;
  padding: 20px;
  background-color: #f9fafb;
  margin-left: 220px; /* Account for the left bar */
  width: calc(
    100% - 220px
  ); /* Ensure the width accounts for the left bar offset */
  box-sizing: border-box;
}

.bottom-bar {
  background-color: #1a3c5a;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 100; /* Ensure it stays on top */
  height: 50px;
  color: #ffffff;
}

/* Remove any fixed positioning that might interfere with the map layout */
.map-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}
